ion-card {
    display: flex;
    flex-direction: column;
    margin: 0 !important;
    background: blue;
    width: 100%;
    height: 100%;
}

ion-content {
    background: green;
}

ion-content ion-card {
    background: rgb(255, 255, 255) !important;
    width: 100%;
    display: flex;
    justify-content: center;
}